			
	/********************************************************************************************************************头部样式头部样式头部样式头部样式*************************************************************************************************************/
			
			
			 /*            全局样式               */
		body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,dt,form,fieldset,legend,input,textarea,select{margin:0;padding:0;box-sizing: border-box;} 
		body{font:12px "微软雅黑";}
		a{text-decoration:none} 
		em,i{font-style:normal}
		li{list-style:none}
		img{border:0;vertical-align:middle} 
		table{border-collapse:collapse;border-spacing:0}
		p{word-wrap:break-word}
		.ind{text-indent:2em} 
		.ind10{text-indent:10px;}       
		.noborder{border:0;}
		.left{float:left;}
		.right{float:right;}
		.clearBoth{clear:both;}
		.font12{font-size:12px;}
		html,body{width:100%;height:100%;}
		h1,h2,h3,h4,h5,h6{font-weight:normal;}
		a{color:#000;}
		*{box-sizing: border-box;}
		html,body{
			width: 100%;
			height: 100%;
		}
		body{
			overflow-x: hidden;
		}
		/*********HEADER***************/
		.header{
			width:100%;
			height: 102px;
			background: black;
		}
		.header .top{
			height:36px;
			text-align: right;
			padding: 0 23px;
		}
		.header .top a{
			width: 70px;
			height: 36px;
			line-height: 36px;
		}
		.header .top a img{
			width: 70px;
			height: 13px;
		}
		.nav{
			height:66px;
		}
		.nav #PS{
			width: 76px;
			heihgt:66px;
			line-height: 66px;
			color: white;
			float: left;
			margin-left:20px;
		}
		.nav li{
			width: 76px;
			height: 66px;
			float: left;
			text-align: center;
		}
		.nav li a{
			width: 76px;
			heihgt:66px;
			line-height: 66px;
			color: white;
		}
		.nav #PS{
			width: 91px;
			height: 64px;
			padding-left: 13px;
		}
		.nav #PS a{
			width: 91px;
			height: 64px;
			line-height: 64px;
			text-align: center;
		}
		.nav #PS img{
			width: 44px;
			height: 34px;
		}
		.nav li div{
			width:100%;
			height: 200px;
			background: blue;
			float: left;
			display: none;
			position: absolute;left: 0;top: 102px;
			background:radial-gradient(circle at 50% 0,lightblue,blue);
		}
		/*li内的每个div样式不同*/
		
		.nav li:hover{
			background:blue;
		}
		.nav li:hover div{
			display: block;
			z-index: 2000;
		}
		.nav li div a{
			display: block;
			width: 250px;
			height: 200px;
			float: left;
			margin: 50px 50px;
		}
		.nav li div a img{
			width: 150px;
			height: 100px;
		}
		.nav li div a span{
			display: block;
			width: 100px;
			heihgt:14px;
			line-height: 14px;
			color: white;
			margin: 0 auto;
		}
		.nav #search{
			width: 270px;
			height: 64px;
			float: right;
			position: relative;
		}
		#search a{
			font-size: 14px;
			line-height: 66px;
			color: white;
			font-weight: bold;
		}
		#search1{
			width: 207px;
			height: 64px;
		}
		#search #signIn{
			width: 60px;
			height: 36px;
			margin-left: 10px;
			background: dimgrey;
			color: white;
			border: none;
		}
		#search #search2{
			width: 34px;
			height: 34px;
			background:dimgray url("https://asia.playstation.com.cn/content/dam/pscom/regional-assets/header/menu_navi-search.svg") no-repeat;
			background-size: 24px 24px;
			background-position:center;
			position: absolute;right: 40px;top: 16px;
			border: none;
		}
		
			/* 主体部分主体部分主体部分 */
		/* 1.轮播图的CSS */
		.globel{
			width: 100%;
		}
		.globel #slider{
			width: 100%;
			height: 500px;
			overflow: hidden;
			position: relative;
		}
		.globel #slider div img{
			width:100%;
			height: 450px;
			position: absolute;
		}
		.globel #slider #arrow-left{
			width: 44px;
			height: 44px;
			position: absolute;left: 20px;top: 174px;
			background: lightgrey;
			opacity: 0.7;
			}
		.globel #slider #arrow-right{
			width: 44px;
			height: 44px;
			position: absolute;right: 20px;top: 174px;
			background: lightgrey;
			opacity: 0.7;
		}